//-----------------------------------------------------------------
// Game Skeleton Resources
// RC Source - WillowGame.rc - version 2013 v2_12 jan 2013 
//-----------------------------------------------------------------

//-----------------------------------------------------------------
// Include Files
//-----------------------------------------------------------------
#include "Resource.h"

//-----------------------------------------------------------------
// Icons
//-----------------------------------------------------------------
IDI_BIG			ICON         "big.ico"
IDI_SMALL		ICON         "small.ico"
